<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
        <p-divider align="center" type="solid">
        <b  class="fnt20">Details of Principal Investigator's</b>
    </p-divider>
    <form>
        <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Principal Investigator's Name<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="inputArea" placeholder="Name of the Institution" pInputText >
            </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Mobile Number<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="inputArea" placeholder="Registration Number of the Institution" pInputText >

            </div>
          </div> 
    
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Email<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Present Designation of the Principal Investigator<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Educational Qualifications of the Principal Investigator.<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4"> Salary Details of the Principal Investigator (Level, Grade pay or any)<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Experience in the proposed research area<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4"> Detailed Bio-data of the Principal Investigator along with the list of publications etc. (please enclose detailed bio-data) <span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">  Signature with Date of Principal Investigator <span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
     
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4"> Image of the Principal Investigator<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.No. </th>
                    <th scope="col">Name of the Project </th>
                    <th scope="col"> Duration of the Project</th>
                    <th scope="col"> Funding Agency </th>
                    <th scope="col"> Total Budget</th>
                    <th scope="col"> Present Status (Completed/Ongoing)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
    <p-divider align="center" type="solid">
        <b  class="fnt20">Details of Co-Principal Investigator's</b>
    </p-divider>

        <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Co-Principal Investigator's Name<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="inputArea" placeholder="Name of the Institution" pInputText >
            </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Mobile Number<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="inputArea" placeholder="Registration Number of the Institution" pInputText >

            </div>
          </div> 
    
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Email<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Present Designation of the Co-P.I.<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
      
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">Educational Qualifications of the Co-P.I Investigator.<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">  Salary Details of the Co-P.I. (Level, Grade pay or any)<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input  type="text" class="inputArea" placeholder="Institutional Mobile Number" pInputText >
        </div>
      </div>
     
     
     
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">  Signature with Date of Principal Investigator <span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">  Image of the Co-Principal Investigator<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
      </div>
      </div>
      <div class="row mb40">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.No. </th>
                    <th scope="col">Name of the Project </th>
                    <th scope="col"> Duration of the Project</th>
                    <th scope="col"> Funding Agency </th>
                    <th scope="col"> Total Budget</th>
                    <th scope="col"> Present Status (Completed/Ongoing)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
      
    
     <div class="btn">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
      </div>
    </form>
    </p-card>
  </div>