<div class="header">
    <p>Application for Engagement of Sanskrit & Modern Subject Teachers</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
    <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Administrative Details">
    <app-administrative-details></app-administrative-details>    
    </p-tabPanel>
    <p-tabPanel header="Institutional Infrastructure Details">
    <app-infrastructure-details></app-infrastructure-details>
    </p-tabPanel>
    <p-tabPanel header="Financial Details of the Institution">
       <app-financial-details></app-financial-details>
    </p-tabPanel>
    <!-- <p-tabPanel header="Year Wise">
    <app-year-wise-details></app-year-wise-details>
    </p-tabPanel> -->
    <!-- <p-tabPanel header="Grant Received">
       <app-grant-recieved-details></app-grant-recieved-details>
    </p-tabPanel> -->
    <p-tabPanel header="Engaged Teachers Details">
<app-engaged-teachers></app-engaged-teachers>
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
    <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
        </p-tabPanel>
    </p-tabView>