<div class="header">
    <p>Samman Rashi</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Qualification">
        <app-qualification></app-qualification>
    </p-tabPanel>
    <p-tabPanel header="Experience">
        <app-experience></app-experience>
    </p-tabPanel>
    <p-tabPanel header="Dependent Members">
    <app-dependent-member></app-dependent-member>
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
    <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>

</p-tabView>
    