<div class="header">
    <p>Ashtadashi</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Investigator Details">
    <app-investigator-details></app-investigator-details>
    </p-tabPanel>
    <p-tabPanel header="Research Methodology">
        <app-research-methodology></app-research-methodology>
    </p-tabPanel>
    <p-tabPanel header="Required Budget">
        <app-required-budget></app-required-budget>
    </p-tabPanel>
    <p-tabPanel header="Time Budgeting">
        <app-time-budget></app-time-budget>
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
    <app-others></app-others>
    </p-tabPanel>

</p-tabView>