<div class="header">
    <p>Bulk Process for Sanskrit Books</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Financial Details">
        <app-details-of-institution-publisher></app-details-of-institution-publisher>
    </p-tabPanel>
    <p-tabPanel header="Details of Publication">
      <app-details-of-publication></app-details-of-publication>     
    </p-tabPanel>
    <p-tabPanel header="Details of Previous Grant Received">
        <app-details-of-previous-grants></app-details-of-previous-grants>
    </p-tabPanel>
    <p-tabPanel header="Bank details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>

</p-tabView>
    
        
    