<div class="header">
    <p>Publication and Reprint of Sanskrit Books</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Publication Submitted for Publication">
    <app-publication-submited></app-publication-submited>
    </p-tabPanel>
    <p-tabPanel header="Financial Details of the Institution/Publisher/Individual">
        <app-financial-details></app-financial-details>
    </p-tabPanel>
    <p-tabPanel header="Details of Previous Grant Received">
        <app-previous-grants-recieved></app-previous-grants-recieved>
    </p-tabPanel>
    <p-tabPanel header="Bank details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>

</p-tabView>
    
        
    