<div class="header">
  <p>Application for Programmes</p>
</div>

<p-tabView>
    <p-tabPanel header="Personal Details">
    <app-personal-detail></app-personal-detail>
    </p-tabPanel>
    <p-tabPanel header="Details of Programmes/Activities">
      <app-details-programmes-activities></app-details-programmes-activities>
    </p-tabPanel>
    <p-tabPanel header="Administrative Details">
    <app-administrative-details></app-administrative-details>
    
    </p-tabPanel>
    <p-tabPanel header="Financial Details">
    <app-finanicial-details></app-finanicial-details>   
    </p-tabPanel>
    <p-tabPanel header="Previous Grant Recieved">
    <app-details-of-previous-grants></app-details-of-previous-grants>
       
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Other">
      <app-others></app-others>
       
    </p-tabPanel>
    </p-tabView>