.btn{
    display: flex;
    justify-content: center;
}

.btn:nth-child(2){
    margin-left: 10px;
}

.caption{
    position: relative;
    top: 60px;
    left: -140px;
}

.mb40{
    margin-bottom: 40px;
}