<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
  <p-divider align="center" type="solid">
      <b  class="fnt20">In case the institution has received the grants from CSU fill the details</b>
      </p-divider>
      <div class="row mb40">
        <div class="form-group col-md-7">
          <label for="inputEmail4">Whether Sanskrit Teachers are being engaged in the current year through CSU grants/Govt. of India grants ?<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
      </div>
      <div class="row mb40">
        <div class="col-md-12">
          <label for="inputEmail4">If yes then provide the following details<span class="asterisk">*</span></label>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">How many teachers are engaged?</th>
                <th scope="col">How much Salary is being provided per month?</th>
                <th scope="col">Whether the teachers are having the education qualifications as per Guidelines?</th>
                <th scope="col">Whether the teachers are selected through advertisement, interview through selection committee ?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
             
            </tbody>
          </table>
        </div>
        </div>
        <p-divider align="center" type="solid">
            <b  class="fnt20"></b>
            </p-divider>
        <div class="row mb40">
            <div class="form-group col-md-7">
              <label for="inputEmail4">Whether the salary of the teacher paid directly through online mode<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
            </div>
          </div>
</p-card>
</div>
