<div class="header">
    <p>Sanskrit Promotion</p>
 </div>

<p-tabView>
    <p-tabPanel header="Personal Details">
    <app-personal-detail></app-personal-detail>
    </p-tabPanel>
    <p-tabPanel header="Programmes/Activies">
       <!-- <app-examination-scholarship></app-examination-scholarship> -->
    </p-tabPanel>
    <p-tabPanel header="Administrative Detail">
     <!-- <app-bank-detail></app-bank-detail>  -->
    
    </p-tabPanel>
    <p-tabPanel header="Financial Detail">
        <!-- <app-bank-detail></app-bank-detail>  -->
       
    </p-tabPanel>
    <p-tabPanel header="Previous Grant Recieved">
        <!-- <app-bank-detail></app-bank-detail>  -->
       
    </p-tabPanel>
    <p-tabPanel header="Bank Detail">
        <!-- <app-bank-detail></app-bank-detail>  -->
       
    </p-tabPanel>
    <p-tabPanel header="Self Declaration">
        <!-- <app-bank-detail></app-bank-detail>  -->
       
    </p-tabPanel>
    <p-tabPanel header="Recommendation Authority">
        <!-- <app-bank-detail></app-bank-detail>  -->
       
    </p-tabPanel>
    </p-tabView>