<div class="header">
    <p>Application for Sanskrit Journal</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
    <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Details of Journal">
        <app-journal-details></app-journal-details>
    </p-tabPanel>
    <p-tabPanel header="Administrative Details">
        <app-administrative-details></app-administrative-details>
    </p-tabPanel>
    <p-tabPanel header="Details of Previous Grant Received">
        <app-previous-grants></app-previous-grants>
    </p-tabPanel>
    <p-tabPanel header="Bank details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>

</p-tabView>
    
        
    