<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
        <p-divider align="center" type="solid">
        <b  class="fnt20">Time Budgeting and Output</b>
    </p-divider>
    <form>
      
      <div class="row mb40">
        <div class="col-md-12">
            <p> Time Budgeting- Year wise/Month wise project action plan.</p>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Year/Month</th>
                    <th scope="col">Activities </th>
                    <th scope="col">Budget (Item wise)</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
    <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4">How many copies of the books will be published (if applicable)<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input type="text" class="inputArea" placeholder="Name of the Institution" pInputText >
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-3">
          <label for="inputEmail4"> Details of the book to be published (Number of pages and outcome), If applicable<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
          <input type="text" class="inputArea" placeholder="Name of the Institution" pInputText >
        </div>
      </div>

    
     <div class="btn">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
      </div>
    </form>
    </p-card>
  </div>