<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
        <!-- <p-divider align="center" type="solid">
        <b  class="fnt20">Details of the Institution</b>
    </p-divider> -->
    <form>
        <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Date of Registration of the institution (in case of NGOs please furnish U.I.D number) and also enclose a copy of registration/U.I.D certificate. (Only pdf file may upload)<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="file"   />
                <!-- Upload Percent: {{percentDone}}% <br /> -->
                
                <!-- <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4"> Date of Registration at Darpan Portal of NITI Ayog, Government of India (NGOs & Voluntary Organizations must invariably be Registered at Darpan portal) and submit the proof of the same.<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="file"   />
                <!-- Upload Percent: {{percentDone}}% <br /> -->
                
                <!-- <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4"> Infrastructure and facilities available in the institution. In case of large file then please attach the file or provide weblink. <span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="file"   />
                <!-- Upload Percent: {{percentDone}}% <br /> -->
                
                <!-- <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4"> Major activities in promotion of Sanskrit during the last 03 Years (year wise) and attach relevant document. <span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="file"   />
                <!-- Upload Percent: {{percentDone}}% <br /> -->
                
                <!-- <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">No objection letter to be uploaded duly signed by the Head of the Institution/concerned Authority alongwith seal<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <input type="file"   />
                <!-- Upload Percent: {{percentDone}}% <br /> -->
                
                <!-- <ng-container *ngIf="uploadSuccess">
                  Upload Successful
                </ng-container>  -->
          </div>
          </div>
    </form>
    </p-card>
    </div>