<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
  <p-card>
    <!-- <div class="header">
        <h3 style="text-align: center;">Bank Details</h3>
    </div>   -->
<p-divider align="center" type="solid">
    <b  class="fnt20">Bank Details</b>
    </p-divider>
    
<form>
<!-- <div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Name of the Bank where account is opened by the students<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="" pInputText >
  </div>
</div>  -->
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Name of the Account Holder<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Name of the Account Holder" pInputText >
  </div>
</div> 
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Account Number<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Account Number" pInputText >
   
  </div>
</div> 
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Branch Name<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Branch Name" pInputText >
  </div>
</div> 
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">IFSE Code<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="IFSE Code" pInputText >
   
  </div>
</div> 
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Bank Address<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Bank Address" pInputText >
  </div>
</div>  
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Pan Number<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Pan Number" pInputText >
  </div>
</div> 
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Tan Number<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input  type="text" class="inputArea" placeholder="Tan Number" pInputText >
  </div>
</div>   
<div class="row mb40">
  <div class="form-group col-md-4">
    <label for="inputEmail4">Upload Passbook<span class="asterisk">*</span></label>
  </div>
  <div class="form-group col-md-3">
    <input type="file"  (change)="upload($event)" />
    <!-- Upload Percent: {{percentDone}}% <br /> -->
    
    <!-- <ng-container *ngIf="uploadSuccess">
      Upload Successful
    </ng-container>  -->
</div>
</div> 




<div class="btn">
<button type="submit" class="btn btn-primary btn-sm">Submit</button>
<button type="submit" class="btn btn-secondary btn-sm">Reset</button>
</div>
</form>
</p-card>
</div>