<div class="header">
    <p>Shastra Chudamani</p>
 </div>
<p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-detail></app-personal-detail>
    </p-tabPanel>
    <p-tabPanel header="Educational Qualification">
        <app-educational-qulification></app-educational-qulification>
    </p-tabPanel>
    <p-tabPanel header="Teaching Experience">
        <app-teaching-experiance></app-teaching-experiance>
    </p-tabPanel>
    <p-tabPanel header="Scholar Prefrence">
        <app-scholar-prefrence></app-scholar-prefrence>
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>

</p-tabView>
    
        
    