<div class="header">
    <p>Vocational Training Training</p>
 </div>

    <p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Details of Proposed VOC Training">
        <app-vocational-training></app-vocational-training>
    </p-tabPanel>
    <p-tabPanel header="Administrative Details">
    <app-administrative-details></app-administrative-details>
    </p-tabPanel>
    <p-tabPanel header="Financial Details">
        <app-financial-details></app-financial-details>
    </p-tabPanel>
    <p-tabPanel header="Bank Details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Other">
        <app-others></app-others>
       
    </p-tabPanel>
    </p-tabView>