.main-container {
    display: flex;
    .side-nav {
      width: 350px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
    //   @media only screen and (max-width: 1280px) {
    //     width: 100px;
    //     min-width: 100px;
    //   }
    }
    .side-nav.min-width-changed {
        width: 100px;
        min-width: 100px;
        @media only screen and (min-width: 1200px) {
            width: 350px;
            min-width: 230px;
          }
    }
    .main {
      padding: 30px;
      width: 100%;
      overflow: hidden;
    }
    .changeSidebarWidth{
      width: 104px;
      min-width: 105px;
    }
  }

  .content {
    margin-left: 251px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    position: relative;
    top: -136px;
  }
  
  .content .toggle-btn {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .sidebar.closed + .content {
    margin-left: 0; /* Content expands to full width when sidebar is closed */
  }