<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
      <!-- <div class="header">
          <h3 style="text-align: center;">Personal Details</h3>
      </div>   -->
  <p-divider align="center" type="solid">
      <b  class="fnt20">Details of Institution</b>
      </p-divider>
      <form>
        <div class="row mb40">
          <div class="form-group col-md-3">
            <label for="inputEmail4">Copy of certificate of affiliation to be attached<span class="asterisk">*</span></label>
          </div>
          <div class="form-group col-md-3">
            <input type="file"  (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
        </div>
        </div>
        <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Documentary evidence of Land & Building <span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Courses offered by the Institution<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Details of Subjects offered to students.<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="inputArea" placeholder="Details of Subjects offered to students" pInputText >
            </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Number of students in each class during the last academic year<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
          
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Number of students in each class during the current academic year<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Examining Body /Board to which the institution is affiliated.<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="text" class="inputArea" placeholder="Examining Body /Board" pInputText >
            </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Darpan Portal Registration Certificate for NGO's/Voluntary organizations<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
          <div class="row mb40">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Working in the field of Sanskrit and submit proper Annual Report for last 3 years<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
              <input type="file"  (change)="upload($event)" />
              <!-- Upload Percent: {{percentDone}}% <br /> -->
              
              <!-- <ng-container *ngIf="uploadSuccess">
                Upload Successful
              </ng-container>  -->
          </div>
          </div>
       


       
      
       <div class="btn">
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
      </div>
      </form>
    </p-card>
  </div>