<div class="row mb40">
    <div class="col-md-12">
        <p>Sources from which Financial Assistance have been received including grants from State Govt. Local Bodies/Trusts/ Govt. of India/Central Sanskrit University etc., for the last three years. (Incase eligible them please enclose the details).</p>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Source</th>
                <th scope="col">Amount</th>
                <th scope="col">Purpose of the grant</th>
                <th scope="col">Date</th>
                <th scope="col">Progress made in this direction</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
             
            </tbody>
          </table>
        </div>  
</div>
<p-divider align="center" type="solid">
    </p-divider>
<div class="row mb40">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Please upload the Utilization Certificate for last two years, duly certified by the Auditor in respect of previous grant received form Central/State Govt. or CSU, Delhi or any other source.<span class="asterisk">*</span></label>
    </div>
    <div class="form-group col-md-3">
        <input type="file"  (change)="upload($event)" />
        <!-- Upload Percent: {{percentDone}}% <br /> -->
        
        <!-- <ng-container *ngIf="uploadSuccess">
          Upload Successful
        </ng-container>  -->
  </div>
  </div>