<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
  <p-divider align="center" type="solid">
      <b  class="fnt20">Details of Grant for Remuneration / Scholarships</b>
      </p-divider>
    <form>
           <div class="row mb40">
        <div class="form-group col-md-6">
          <label for="inputEmail4">In case of Renewal, please upload the Utilization Certificate, or last to years, duly certified by the Auditor in respect of previous grant received from Govt. or CSU, Delhi under this scheme<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <input type="file" style="margin-top: 20px;" (change)="upload($event)" />
            <!-- Upload Percent: {{percentDone}}% <br /> -->
            
            <!-- <ng-container *ngIf="uploadSuccess">
              Upload Successful
            </ng-container>  -->
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Whether the post of Sanskrit Teacher is sanctioned by the State Government?<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Whether the post of Sanskrit Teacher is vacant?<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
      </div>
      <div class="row mb40">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Whether the School required the services of Sanskrit Teacher?<span class="asterisk">*</span></label>
        </div>
        <div class="form-group col-md-3">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
        </div>
      </div>
      </form>
      <p-divider align="center" type="solid">
        </p-divider>
      <!-- <div class="row mb40">
        <div class="col-md-12">
          <label for="inputEmail4">Number of Teachers/ Students & their existing Pay Scales/ Remunerations/Amount in each Category<span class="asterisk">*</span></label>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Type of Engagement</th>
                <th scope="col">Number of Teachers/Students</th>
                <th scope="col">Total Remuneration/Scholarship</th>
                <th scope="col">Monthly Remuneration/Scholarship</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
             
            </tbody>
          </table>
        </div>
        </div> -->
        <!-- <p-divider align="center" type="solid">
        </p-divider>
        <div class="row mb40">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Whether the present request for Financial Assistance for Salary and Scholarships is above the State Government grants.<span class="asterisk">*</span></label>
            </div>
            <div class="form-group col-md-3">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
            </div>
          </div> -->
        <!-- <div class="row mb40">
            <div class="col-md-12">
              <label for="inputEmail4">Grant received from the Central Govt./ Central Sanskrit University for the Following items during last three years.<span class="asterisk">*</span></label>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Years</th>
                    <th scope="col">Sanskrit Teacher</th>
                    <th scope="col">Modern Teacher</th>
                    <th scope="col">Computer Teacher</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            </div> -->


     

     <div class="btn">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
    </div>
   
    </p-card>
  </div>