<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
        <p-divider align="center" type="solid">
        <b  class="fnt20">Details of Principal Investigator's</b>
    </p-divider>
    <form>
      
      <div class="row mb40">
        <div class="col-md-12">
            <p>Recurring Grants (if required details to be given on a separate sheet in excel format) excel sheet As per nature of the project yearwise details may
                 be provided. In case the project proposed for only one year then fill only the first year column, likewise second and third years also</p>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.No. </th>
                    <th scope="col">Item </th>
                    <th scope="col">Amount proposed for First Year of the project</th>
                    <th scope="col">Amount proposed for Second year of the project </th>
                    <th scope="col">Amount proposed for third year of the project </th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
    <p-divider align="center" type="solid">
        <b  class="fnt20"></b>
    </p-divider>

      <div class="row mb40">
        <div class="col-md-12">
            <p>Non-Recurring grants (equipment, Books & Journals etc)</p>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.No. </th>
                    <th scope="col">Item </th>
                    <th scope="col"> Amount Proposed</th>
                    <th scope="col">Justification</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
    <p-divider align="center" type="solid">
        <b  class="fnt20"></b>
    </p-divider>

      <div class="row mb40">
        <div class="col-md-12">
            <p>Total proposed Budget-details of recurring and non-recurring grants.</p>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">S.No. </th>
                    <th scope="col">Item </th>
                    <th scope="col">Amount proposed for First Year of the project </th>
                    <th scope="col">Amount proposed for Second year of the project </th>
                    <th scope="col">Amount proposed for third year of the project </th>
                    <th scope="col">Total</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                    </tr>
                 
                </tbody>
              </table>
            </div>  
    </div>
      
    
     <div class="btn">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
      <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
      </div>
    </form>
    </p-card>
  </div>