<div class="header">
    <p>Sanskrit Teaching</p>
 </div>
<div class="row col-md-12">
 <p-tabView>
    <p-tabPanel header="Personal Details">
        <app-personal-details></app-personal-details>
    </p-tabPanel>
    <p-tabPanel header="Administrative Details">
        <app-administrative-details></app-administrative-details>
    </p-tabPanel>
    <p-tabPanel header="Institutional Infrastructure Details">
        <app-institutional-infrastructure-details></app-institutional-infrastructure-details>
    </p-tabPanel>
    <p-tabPanel header="Financial Details">
        <app-financial-details></app-financial-details>
    </p-tabPanel>
    <p-tabPanel header="Engaged Teachers Details">
        <app-engaged-teacher></app-engaged-teacher>
    </p-tabPanel>
    <p-tabPanel header="Bank details">
        <app-bank-details></app-bank-details>
    </p-tabPanel>
    <p-tabPanel header="Others">
        <app-others></app-others>
    </p-tabPanel>
    <p-tabPanel header="Grant for Remuneration / Residential Scholarships">
        <app-details-of-grant></app-details-of-grant>
    </p-tabPanel>
    <!-- <p-tabPanel header="CSU details">
      <app-csu-details></app-csu-details>
    </p-tabPanel> -->
</p-tabView>
</div>