<div class="col-md-12 row" style="background-color: #f9fafb; padding-left: .35rem;">
    <p-card>
      <!-- <div class="header">
          <h3 style="text-align: center;">Personal Details</h3>
      </div>   -->
  
      <form>
    
          <p-divider align="center" type="solid">
            <b  class="fnt20">Year Wise Details</b>
        </p-divider> 
        <div class="row mb40">
            <div class="col-md-12">
                <p>Expenditure on the following for last three years</p>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Year  </th>
                        <th scope="col">Salary of Sanskrit Teachers</th>
                        <th scope="col">Salary of Modern Subject Teachers</th>
                        <th scope="col">Salary of Computer Teachers</th>
                        <th scope="col">Salary of Establishment Officer</th>
                        <th scope="col">Hostel </th>
                        <th  scope="col">Misc. & Contingencies</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                     
                    </tbody>
                  </table>
                </div> 
                </div> 
                <p-divider align="center" type="solid">
                    <b  class="fnt20"></b>
                </p-divider> 
                <div class="row mb40">
                    <div class="col-md-12">
                        <p>Number of Day Scholars and Residential Students in last two years</p>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Day-Scholars</th>
                                <th scope="col">Residential Scholars (Sanskrit) (boys / girls)</th>
                                <th scope="col">Whether students able to talk in Sanskrit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                                </tr>
                             
                            </tbody>
                          </table>
                        </div>  
        </div>
        <p-divider align="center" type="solid">
            <b  class="fnt20"></b>
        </p-divider> 
        <div class="row mb40">
            <div class="col-md-12">
                <p>Sources from which Financial Assistance has been received including grants from State Govt. Local Bodies/Trusts/ Govt. of India etc. except Central Sanskrit University, for the last three years. (Incase grants received then please enclose the details).</p>
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Source </th>
                        <th scope="col">Amount </th>
                        <th scope="col">Total No. of Sanskrit Teachers engaged through financial assistance</th>
                        <th scope="col">Total No. of Modern Teachers engaged through financial assistance</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        </tr>
                     
                    </tbody>
                  </table>
                </div>  
</div>
<div class="btn">
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <button type="submit" class="btn btn-secondary btn-sm">Reset</button>
  </div>
        </form>
        </p-card>
        </div>
