<h3>Split Form</h3>
<div class="card mt-3 p-1">
 <div class="mt-4">
    <mat-tab-group animationDuration="0ms" class="exam-tabing-steps">
        <mat-tab label="First" style="width: 300px!important;">Content 1</mat-tab>
        <mat-tab label="Second">Content 2</mat-tab>
        <mat-tab label="Third">Content 3</mat-tab>
        <mat-tab label="Secondd">Content 4</mat-tab>
        <mat-tab label="Third5">Content 5</mat-tab>
        <mat-tab label="Second6">Content 6</mat-tab>
        <mat-tab label="Third7">Content 7</mat-tab>
        <mat-tab label="Third8">Content 8</mat-tab>
        <mat-tab label="Second9">Content 9</mat-tab>
        <mat-tab label="Third10">Content 10</mat-tab>
    </mat-tab-group>
 </div>


<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="col-md-12 overflow-hidden">
        <!-- personal-info -->
        <app-personal-info [events]="eventsSubject.asObservable()"></app-personal-info>

        <!-- address -->
        <app-address></app-address>


    </div>
    <div class="text-center mb-2 mt-2">
        <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
    </div>
</form>
</div>
{{myForm.value|json}}

